################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Irsa/bin/Debug/netcoreapp3.1/ManualLogs
